body {
    /*width: 100%;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin: auto;
    /* text-align: center; */
    /* background: rgb(219, 219, 219); */
    /*background: rgb(134, 157, 168);*/
    /*border: solid black 2px;*/
    font-size: 1.30em;
}


header {
     background: rgb(54, 76, 134);
    /*background-color: #333;*/
    text-align: center;
    font-size: xx-large;
    color: #f2f2f2;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    position: relative;
    align-items: center;

    /* margin-bottom: -22px; */
}

#main-div {
    padding: 20px;
    /*margin: 15px;*/
    /* background: rgb(255, 236, 200);*/
    /*background: rgb(134, 157, 168);*/
    /*background: rgb(224, 224, 224);*/
    background: rgb(222, 235, 255);

}

header div {
    display: inline-block;
    vertical-align: top;
    padding: 14px;
}

header .name-title{
    float: left;
    font-size: 45px;
}

/* Add a black background color to the top navigation */
.topnav {
    margin-top: 2px;
    float: right;
    overflow: hidden;
    align-items: center;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

footer {
    /*background: rgb(175, 174, 174);*/
    background: rgb(54, 76, 134);
    padding: 10px 20px;
    color: white;
}

.photo {
    /*float: left;*/
    width: 300px;
    padding: 10px;
    margin-right: 30px;
}

a:hover {
    color: rgb(58, 50, 50);
    /* font-weight: bold; */
}

#div-photo {
    float: left;
}

ul {
    list-style-position: inside;
}

.google-scholar {
    width: 20px;
    height: 20px;
    text-align-all: center;
}

.grid-container {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 31% 31% 31%;
    text-align: center;
    justify-items: center;
    align-items: center;
}

.project-img {
    object-fit: cover;
    border: 1px solid black;
    width: 100%;
    height: 250px;
}

.cell {
    padding-top: 20px;
}

.cell:hover {
    background: rgb(171, 215, 241);
}

